

.card-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto; 
}

.player-card{
    /* background-color: #000000; */
    display: block;
    width: 100%;
}

.player-card img{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 40px;
}

.player-card h3{
    display: inline-block;
}

/* .color-btn{
    background-color: 
} */
